<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhdsj.dao.CrawlingMapper">
  <resultMap id="BaseResultMap" type="com.xhdsj.model.Crawling">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="delete_flag" jdbcType="SMALLINT" property="deleteFlag" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="crawling_name" jdbcType="VARCHAR" property="crawlingName" />
    <result column="crawling_flag" jdbcType="SMALLINT" property="crawlingFlag" />
  </resultMap>


  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>


  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>


  <sql id="Base_Column_List">
    id, delete_flag, url, crawling_name, crawling_flag
  </sql>


  <select id="selectByExample" parameterType="com.xhdsj.model.CrawlingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from crawling
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crawling
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from crawling
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <delete id="deleteByExample" parameterType="com.xhdsj.model.CrawlingExample">
    delete from crawling
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>


  <insert id="insert" parameterType="com.xhdsj.model.Crawling">
    insert into crawling (id, delete_flag, url, 
      crawling_name, crawling_flag)
    values (#{id,jdbcType=INTEGER}, #{deleteFlag,jdbcType=SMALLINT}, #{url,jdbcType=VARCHAR}, 
      #{crawlingName,jdbcType=SMALLINT}, #{crawlingFlag,jdbcType=SMALLINT})
  </insert>


  <insert id="insertSelective" parameterType="com.xhdsj.model.Crawling">
    insert into crawling
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="crawlingName != null">
        crawling_name,
      </if>
      <if test="crawlingFlag != null">
        crawling_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="crawlingName != null">
        #{crawlingName,jdbcType=SMALLINT},
      </if>
      <if test="crawlingFlag != null">
        #{crawlingFlag,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>


  <select id="countByExample" parameterType="com.xhdsj.model.CrawlingExample" resultType="java.lang.Long">
    select count(*) from crawling
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>


  <update id="updateByExampleSelective" parameterType="map">
    update crawling
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deleteFlag != null">
        delete_flag = #{record.deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.crawlingName != null">
        crawling_name = #{record.crawlingName,jdbcType=SMALLINT},
      </if>
      <if test="record.crawlingFlag != null">
        crawling_flag = #{record.crawlingFlag,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


  <update id="updateByExample" parameterType="map">
    update crawling
    set id = #{record.id,jdbcType=INTEGER},
      delete_flag = #{record.deleteFlag,jdbcType=SMALLINT},
      url = #{record.url,jdbcType=VARCHAR},
      crawling_name = #{record.crawlingName,jdbcType=SMALLINT},
      crawling_flag = #{record.crawlingFlag,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


  <update id="updateByPrimaryKeySelective" parameterType="com.xhdsj.model.Crawling">
    update crawling
    <set>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="crawlingName != null">
        crawling_name = #{crawlingName,jdbcType=SMALLINT},
      </if>
      <if test="crawlingFlag != null">
        crawling_flag = #{crawlingFlag,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.xhdsj.model.Crawling">
    update crawling
    set delete_flag = #{deleteFlag,jdbcType=SMALLINT},
      url = #{url,jdbcType=VARCHAR},
      crawling_name = #{crawlingName,jdbcType=SMALLINT},
      crawling_flag = #{crawlingFlag,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>